.player-contentbody{
    flex: 0.8;
    background: linear-gradient(rgb(91, 87, 115), rgba(0,0,0,1));
    height: 100vh;
    color: white;
    padding: 30px;
}
.player-contentbody::-webkit-scrollbar{
    display: none;
}
.body-info{
    padding: 10px;
}
.body-info img{
    height: 20vh;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0,0,0,0.5);
}
.body-text{
    flex: 1;
}
.body-text h2{
    font-size: 48px;
    margin: 10px 0 !important;
}
.body-text p{
    font-size: 14px;
}
.list-icons .Mui-SvgIcon-root{
    margin-right: 20px;
}
.body-shuffle{
    font-size: 80px !important;
    margin: 20px 20px 20px 50px; 
}
.body-shuffle:hover{
    transition: 0.1s transform ease-in;
    transform: scale(1.08);
}
.songs-list{
    margin: 20px -30px;
}