.sidebar-option{
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
}
.sidebar-option:hover{
    color: white;
}
.sidebar-option-icon{
    padding: 0 10px;
}
.sidebar-option > p{
    padding: 0 10px;
    font-size: 14px;
}