.spotify-login{
    height: 100vh;
    background-color: black;
}
.spotify-login img{
    width: 50%;
}
.spotify-login a{
    padding: 20px;
    font-weight: 800;
    background-color: #1db954;
    color: white;
    border-radius: 99px;
    text-decoration: none;
    margin-bottom: 40px !important;
}