.spotify-login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}
.spotify-login img{
    width: 100%;
}
.spotify-login a{
    padding: 20px;
    font-weight: 800;
    background-color: #1db954;
    color: white;
    border-radius: 99px;
    text-decoration: none;
}